@page
@model Ass02Solution_Se1705_NguyenHoangPhuc_SE173197.Pages.AgricultureProductPage.IndexModel

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgricultureProduct[0].ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgricultureProduct[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgricultureProduct[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgricultureProduct[0].StockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgricultureProduct[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgricultureProduct[0].CategoryName)
            </th>
            <th>
                Manipulation
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AgricultureProduct) {
        <tr> 
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
                <td class="action-links text-center">
                    <a asp-page="./Edit" asp-route-id="@item.ProductId" class="btn btn-primary btn-sm" style="border-radius: 20px; color: white">
                        Edit
                    </a>
                    <a asp-page="./Details" asp-route-id="@item.ProductId" class="btn btn-success btn-sm" style="border-radius: 20px; color: white">
                        Details
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.ProductId" class="btn btn-danger btn-sm" style="border-radius: 20px; color: white" onclick="return confirm('Are you sure you want to delete this item?');">
                        Delete
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
