@page
@model Ass02Solution_Se1705_NguyenHoangPhuc_SE173197.Pages.AgriculteCategoryManagement.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AgricultureCategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AgricultureCategory.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AgricultureCategory.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AgricultureCategory.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AgricultureCategory.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AgricultureCategory?.CategoryId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
